*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*This code is responsible for the entire clock outside of the hand. */
.outer-clock-face{
    height: 60vh;
    width: 90%;
    max-width: 60vh;
    border-radius: 50%;
    position: relative;
    background-image: url(5054.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*This code is responsible for ensuring that everything is in the middle. */
.clock{
   display: flex;
   justify-content: center;
   align-items: center;
}

/*This code is the second hand */
.second-hand{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 3px;
    width: 40%;
    background-color: rgb(231, 19, 19);
    transform: rotate(-90deg); 
   transform-origin: left;
}

/*This code is the minute hand */
.min-hand{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 5px;
    width: 40%;
    background-color: rgb(0, 0, 0);
    transform: rotate(-90deg); 
   transform-origin: left;
}

/*This code is the hour hand */
.hour-hand{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 7px;
    width: 25%;
    background-color: rgb(0, 0, 0);
    transform: rotate(-90deg); 
   transform-origin: left;
}
